<header class="w-full bg-slate-900 h-auto p-7 text-white">

  <div class="grid grid-cols-2  justify-between text-2xl">

    <div class="">Flights made easy!</div>

    <div class="flex flex-row gap-4 text-lg  items-center justify-end">
      <a href="" class=" hover:text-blue-600 active:text-blue-600">Home</a>
      <a href="" class=" hover:text-blue-600  active:text-blue-600">Booking</a>
      <a href="" class=" hover:text-blue-600  active:text-blue-600">Search</a>
      <a href="" [routerLink]="['/my-bookings']" class=" hover:text-blue-600  active:text-blue-600">My bookings</a>
      <a href="" [routerLink]="['/register-passenger']" class=" hover:text-blue-600  active:text-blue-600">Register passenger</a>
    </div>

  </div>

</header>
