<div class="flex flex-col px-6">

  <h5 class="text-center text-2xl">Search flights</h5>

  <div class="flex flex-row justify-between gap-8 w-full m-6">
    <input type="text" name="from" placeholder="From" class="p-4 w-full border-solid border-2" />
    <input type="text" name="to" placeholder="To" class="p-4 w-full border-solid border-2" />
  </div>

  <div class="flex flex-row justify-between gap-8 w-full m-6">
    <input type="date" name="fromdate" placeholder="From" class="p-4 w-full border-solid border-2" />
    <input type="date" name="todate" placeholder="To" class="p-4 w-full border-solid border-2" />
  </div>

  <div class="flex flex-cols gap-5">

    <label for="passengers" class="text-right self-center w-full">Number of Passengers</label>

    <div class="flex flex-cols gap-2 w-full justify-end">
      <input type="number" name="pnumber" placeholder="# passengers" class="p-4 w-full border-solid border-2" />
      <button (click)="search()" class="bg-blue-700 text-white w-28">Submit</button>
    </div>

  </div>

  <div *ngFor="let flight of searchResult">

    <div class="grid grid-rows-3 bg-slate-300 my-2 p-4 container">

      <h3 class="text-blue-600 text-center">{{flight.airline}}</h3>
      <h4 class="text-center">Remaining seats: {{flight.remainingSeats}}</h4>

      <div class="grid grid-cols-3">

        <div>
          <p>{{flight.departure?.place}}</p>
          <p>{{flight.departure?.time | date}}</p>
          <p>{{flight.departure?.time | date: 'shortTime'}}</p>
        </div>

        <div>
          <h3>{{flight.price}}</h3>
          <button *ngIf="userExists()" [routerLink]="['/book-flights/', flight.id]" class="bg-slate-700 text-slate-400 p-3 rounded-md">Book</button>
          <button *ngIf="!userExists()" [routerLink]="['/register-passenger']" class="bg-slate-700 text-slate-400 p-3 rounded-md">Book</button>
        </div>

        <div>
          <p>{{flight.arrival?.place}}</p>
          <p>{{flight.departure?.time | date}}</p>
          <p>{{flight.departure?.time | date: 'shortTime'}}</p>
        </div>

      </div>

    </div>

  </div>

</div>
